@import url('https://fonts.googleapis.com/css?family=Barrio|Roboto');
body{
  font-family: 'Roboto', sans-serif;
   font-family: 'Barrio', cursive;
  width:95vw;
  height:95vh;
  background-color:#b2557d;
}
body {
     background-image:url(https://qph.ec.quoracdn.net/main-qimg-f46fe961b221ce33228385f6f8914399-c)
    }

